<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Budiman Lai (budiman.lai@gmail.com) on 4/25/20 10:35 PM
  ~  Web: http://budimanlai.com, https://github.com/budimanlai
  ~  Copyright (c) 2020 . All rights reserved.
  ~  Last modified 4/25/20 9:26 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.budimanlai.demolib02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.budimanlai.demolib02.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>